body {
  background: #E0E8FF url(../images/pattern-background-desktop.svg) no-repeat center top;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  text-align: center;
}

h1 {
  color: #1F2E55;
  font-size: 1.8rem;
  margin-top: 50px;
}

h2 {
  font-size: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}

.attribution a {
  color: #6D6F78;
}

.wave-img {
  width: 100%;
}

.middle-container {
  background-color: white;
  height: 40rem;
  max-width: 28rem; /* limits the containers width*/
  border-radius: 20px;

}

.hero-img {
  display: block; /*makes an img element be easy to use*/
  max-width: 100%; /*# limits the size to the 100% of the parent, which is the middle-container*/
  height: 220px; /*convert this to rem, I used this size based on what dev tools indicate*/
  border-radius: 20px 20px 0 0;
}

.Plan {
  background-color: #F7F9FF;
  width: 80%;
  margin: auto;
  padding-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Summary {
  color: #717FA6;
}

.music-icon-img {
  margin: 10px 0 0 0;
}

.icon {
  float: left;
  margin: 10px 0 0 0;
}

/*Button*/
.BTN {
  margin-top: 20px;
  border: 0;
  line-height: 2.5;
  height: 50px;
  width: 80%;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #382AE1;
  cursor: pointer;
  box-shadow: 5px 10px 18px #717FA6;
}

.BTN:hover {
  background-color: #698DFF;
}

.BTN:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.Cancel {
  margin-top: 30px;
}

.cancel-link {
  text-decoration: none;
  font-weight: 700;
  color: #717FA6;
}

.cancel-link:hover {
  color: #1F2E55;
}

.change-div {
  display: inline-block;
  text-align: center;
  margin-top: 35px;
}

.change-link {
  font-size: 14px;
  font-weight: bold;
}

.change-link:hover {
  text-decoration: none;
}

.price-div {
  text-align: left;
  margin-right: 65px;
  margin-top: 17px;
  line-height: 1px;
}
